export(boot_stratified_omit)
export(cluster_similarity)
export(clustomit)
export(comembership)
export(comembership_table)
export(jaccard)
export(jaccard_glmm)
export(jaccard_standard)
export(rand)
export(rand_glmm)
export(rand_standard)
export(sim_data)
export(sim_normal)
export(sim_student)
export(sim_unif)
import(Rcpp)
import(mvtnorm)
import(parallel)
importFrom(glmmML,glmmML)
useDynLib(clusteval)
