export(adjustedrand_wrapper)
export(cluster_pairs)
export(cluster_similarity)
export(cluster_wrapper)
export(clustomit)
export(diana_wrapper)
export(hierarchical_wrapper)
export(jaccard)
export(jaccard_wrapper)
export(kmeans_wrapper)
export(model_wrapper)
export(pam_wrapper)
export(rand_wrapper)
export(sim_data)
export(sim_normal)
export(sim_student)
export(sim_unif)
